<%- include("header") -%>

<div id="heading" class="box">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% tasks.map(task => { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= task %></p>
  </div>
  <% }) %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="addTask"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
